@using Microsoft.AspNetCore.Mvc.Localization
@using OpendIddictAttempt4.Localization
@inject IHtmlLocalizer<OpendIddictAttempt4Resource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
